# Local enviroments
.venv/
.env
env/
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.python-version

# MLflow / tracking / db
mlruns/
mlartifacts/
mlflow.db
backend.db
*.db

# IDE / OS specific
.vscode/
.idea/
.DS_Store
Thumbs.db

# Big project data & artifacts
04-data/
05-artifacts/
models/
artifacts/
outputs/
checkpoints/

# Allows placeholders (if you use them)
!04-data/**/.gitkeep
!05-artifacts/**/.gitkeep

# Temporal files
*.log
*.tmp
*.bak


