# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Local MLflow database (should not be in version control)
mlflow.db
mlruns/
mlartifacts/
backend.db

# IDE / OS specific
.vscode/
.idea/
*.DS_Store

# --- Project data & artifacts (NO versionar) ---
04-data/
05-artifacts/

# Allows placeholders (if you use them)
!04-data/**/.gitkeep
!05-artifacts/**/.gitkeep

# Legacy or temporary model directories (safety)
models/
artifacts/

# Environment variables & secrets
.env
