name: CI / Train

on:
  push:
    branches: [ main, master ]
  pull_request:

jobs:
  build-test-train:
    runs-on: ubuntu-latest
    env:
      PYTHONUNBUFFERED: "1"
      USE_MLFLOW: "0"             # MLflow desactivado en CI
      MLFLOW_TRACKING_URI: "file:./mlruns"
      MLFLOW_EXPERIMENT: "AutoWorth-Training"
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements*.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run training
        run: python train.py

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: trained-model
          path: |
            05-artifacts/models/*.joblib
            05-artifacts/models/summary.json
          if-no-files-found: error

